* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 2px dimgray; 
    
}

header,
nav,
main,
footer {
    max-width: 1280px;
    min-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 5px 5px gray;
}

header {
    display: flex;
    flex-direction: row;
    padding: .5rem 2%;
    background-color: #bfd7ea;
}

header figure.logo {
    /* I'm working on a better logo*/
    margin-right: 20%;
}

.site-heading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header h1,
h2,
h3 {
    font-family: 'Pacifico', cursive;
    color: #878787;
    text-align: center;
}

nav {
    background-color: darkgray;
}

nav button {
    background-color: transparent;
    border: none;
    width: 1.8rem;
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
    padding: 0;
}

nav button:hover, nav button:focus {
    color: #bfd7ea;
    border: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: flex;
    color: floralwhite;
    justify-content: center;
    padding: .8rem 0;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}

nav ul li.active a {
    color: #a9e190;
}

nav ul li a:hover {
    background-color: dimgrey;
}

nav ul.hide {
    display: none;
}

main {
    position: relative;
    background-color: #fff;
}

main h2,
h3 {
    align-content: center;
    font-weight: bold;
    width: 96%; margin: 2% auto;

}

main figure img {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid dimgray;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: dimgray;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: dimgray;
    font-size: .8rem;
    
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555; opacity: .8;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display:block;
    padding: .75rem 0;
    color: #555;  
}

form input.submitBtn {
    border: none;
    background-color: dimgray;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 98%;
    margin: 1em;
}

.grid figure {
    width: 100%;
    margin: .1%;
}

.grid img {
    width: 100%;
    padding: .1rem;
    margin: .1rem;
}

.grid figcaption {
    text-align: center;
    padding: .6rem;
}

.grid p {
    text-align: left;
    font-size: 1em;
}

.homegrid  {
  display:flex;
    flex-direction: column;
    flex:1;
   align-items:center;
justify-content:center; 
}

.homegrid .homegriditem {
    justify-content: center;
    font-size: 20px;
}


.townpanel {padding:20px 30px 20px 30px; background:#EEF1EE;}
.townpanel {padding:20px 30px 30px 30px;}
.townpanel .panel {display:flex; flex-direction: column; background:#fff; box-shadow:0 0 10px rgba(0,0,0,0.2); transition: all .3s ease-in-out;}
.townpanel .panel:hover {box-shadow:0 0px 30px rgba(0,0,0,0.3); cursor:pointer;}
.townpanel .panel .leftcolumn {flex:50%; min-height:200px;}
.townpanel .panel .leftcolumn img {width:100%; height:100%; object-fit:cover;}
.townpanel .panel .rightcolumn {flex:50%;}
.townpanel .panel .rightcolumn aside {padding:20px;}
.townpanel a.city-panel {text-decoration: none; color:inherit;}


section.weather-summary,
section.forecast,
article {
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-color: #a9e190;
    border-width: 2px;
    border-radius: 1rem;
    margin: 1em 2%;
}

.weather-summary {
    justify-content: center;
    align-items: center;
    width: 96%;
    font-size: 1em;
    padding: .1em;
    margin: 0 1% 0;
}
.weather-summary img {
}
.weather-summary h2 {
    text-align: center;
    padding: .2em;
}
.weather-summary {
    display: none;
}

.weather-summary .weather {
    display: flex;
}

.current  {
    justify-content: center;
    align-content: center;
    padding: .5rem 0 0;
    text-transform: capitalize;
}

.iconDescription {
    text-transform: capitalize;
    margin-top: auto;
}
iconDescription figure {
    margin: 0;
}

section.forecast {
    display: none;
    clear: both;
}




table,
th,
td {
    background-color: #bfd7ea;
    border: 2px solid #878787;
    border-collapse: collapse;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: 2%;
}

article {
    display:inline-block;
}

article img {
    display: flex;
    margin-left: 10%;
    padding:2%;
    width:75%;
}

.town-article {
    font-size: 1em;
    width: 96%;
    margin: 2%;
}

footer {
    background-color: #bfd7ea;
    color: dimgray;
    text-align: center;
}

footer .contact {
    display: flex;
    flex-direction: column;
    padding:0 10px 10px;
}

footer .contact-info {
    font-size: .75rem;
    padding: 2px;
}

footer .footer-bar {
    background-color: #8B9DAB;
    padding: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
